:root{
    --background: rgb(255, 255, 255);
}

.question-container{
    width: 900px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background);
    border-radius: 5%;
}

.question{
    width: 700px;
    height: 200px;
}

.true-or-false{
    width: inherit;
    height:250px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.true-or-false ul li{
    border: 0.25rem solid;
    height: 7rem;
    width: 75%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}

.true-or-false ul{
    height: 3rem;
    width: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    
}