body{
  background-color: #dff2ff;
opacity: 1;
background-image: url(./mockups/7290753.jpg);
background-repeat: no-repeat;
background-size: 100%;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}